[data-testid="search-overlay"][data-state="closed"],
[data-testid="search-dialog"][data-state="closed"],
[data-testid="mobile-menu-overlay"][data-state="closed"],
[data-testid="mobile-menu-content"][data-state="closed"] {
  pointer-events: none;
  animation: none !important;
}

@media (max-width: 767px) {
  body[data-scroll-locked] {
    --removed-body-scroll-bar-size: 0px !important;
    margin-right: 0 !important;
    padding-right: 0 !important;
  }
}
